.searchPage{
    margin-left: 32px;

    .searchPageContentItemNone{
        display: none;
    }
    .searchPageContentItem{
        background: #FFFFFF;
        box-shadow: 0px 2px 8px rgba(2, 0, 97, 0.25);
        border-radius: 10px;
        
    }
    

    .searchPageItem{
        display: block;
        
        .searchPageItemTitle{
            margin-left: 70px;
            border-bottom: 1px solid #D7D7D7;
            padding-bottom: 16px;
            padding-top: 24px;
        }
    }
   
    h1{
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
        color: #1C1C1E;
        margin-top: 32px;
    }
    .searchPageContent{
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #1C1C1E;
    }
    .searchPageValue{
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 1440px) {
        
            display: block;
            
        }
        .searchPageValueInput{
            border: 3px solid #4F27BF;
            border-radius: 10px;
            width: 811px;
            height: 62px;
            padding-left: 21px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #6C6C6C;
            @media (max-width: 1220px) {
                width: 500px;
            }
            @media (max-width: 920px) {
                width: 300px;
                font-size: 11px;
            }
            @media (max-width: 470px) {
                font-size: 11px;
                width: 200px;
                
            }
        }
        .searchPageValueBtn{
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 26px;
            line-height: 32px;
            color: #FFFFFF;
            background: #4F27BF;
            border-radius: 10px;
            width: 217px;
            height: 70px;
            margin-left: 24px;
            position: static;
            margin-top: 0;
            @media (max-width: 1440px) {
        
                margin-top: 10px;
                margin: 10px 0;
                
            }
            img{
                margin-right: 16px;
                width: 32px;
                height: 32px;
            }
            
        }
    }
}