.searchPage{
    .searchPageItem{
        border-bottom: 1px solid #D7D7D7;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
        padding-bottom: 16px;
    }
   
}