.Header{
    
    .headerWrapper{
        
        .headerWrapperContent{
            @media (max-width: 768px) {
                display: block;
                padding: 0;
                overflow: auto;
                h2{
                    font-size: 20px;
                }
            }
            justify-content: space-between;
            display: flex;
            margin: 0;
            background-color: #4F27BF;
            font-family: 'Montserrat';
            color: white;
            font-weight: 700;
            font-size: 20px;
            .image{
                border: 2px;
                width: 48px;
                height: 48px;
                margin-right: 24px;
            }
            .contentBlock{
                @media (max-width: 768px) {
                    margin: 0;
                }
                display: flex;
                align-items: center;
            }
        }
    }
}