.burger {
    width: 100px;
    height: 100vh;
    border-right: 1px solid grey;
    color: #333;
    margin-top: 40px;
    transform: translateX(-1000px);
    transition: transform 0.7s ease-in-out;
    display: none;
   
}
    .burgerOpen {
      transform: translateX(0);
      display: block;
      transition: transform 0.7s ease-in-out;
      height: calc(100vh - 200px);
    }

  button {
    width: 48px;
    height: 48px;
    margin-right: 10px;
    background: content-box;
    top: -15px;
    border: none;
    position: absolute;
    right: 0;
    margin-top: 80px;
    @media (min-width: 768px) {
      display: none;
   }

  }