.navigation{
    border-right: 1px solid #80808047;
    margin-left: 32px;
    font-weight: 700;
    font-family: 'Montserrat';
    font-size: 20px;
    line-height: 24.38px;
    color: #1C1C1E ;
    
    @media (max-width: 768px) {
        border: none;
        z-index: 1;
        margin: 0;
        width: 100px;
    }
    h2{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #1C1C1E;
        margin: 24px 0;
       
        @media (max-width: 768px) {
            margin-top: 2px;
        }
    }
  
    .navigationContent{
        list-style: none;
        width: 300px;

        #search{
            flex-flow: wrap;
        }
        .navigation{
            border-right: 1px solid white;
            text-decoration: none;
        }
        padding: 0;
        .navigationContentSettings{
            display: flex;
        }
    }
}