.navigation{
    
    .navigationContent{
        margin-bottom: 40px;
        .navigationContentMap{
            .navigationContentMapText{
                display: none;
            }
        }
        .navigationContentItem{
            display: flex;
            align-items: center;          
            margin-left: -32px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color:  #1C1C1E;
            width: 300px;
            height: 37px;
            border-radius: 5px;
            @media (max-width: 768px) {
                width: 195px;
                margin-left: -45px;
                font-size: 14px;
            }
            &:hover{
                color: blue}
            .navigationContentItemSettings{
                margin-left: 100px;
                border-right: none;
                display: none;
            }
            
            img{
                width: 32px;
                height: 32px;
                margin-right: 16px;
            }
        }
    }
}