.mainPage{
    overflow: auto;
    height: calc( 100vh - 200px);
    padding: 32px;
    font-family: 'Montserrat', sans-serif;
    h2{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #1C1C1E;
    }
    h1{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
        color: #1C1C1E;
    }
    .mainPageContent{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
    }
}